src/main/resources/xml/wsdl/contact.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://example.mule.mulesoft.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="contactService" targetNamespace="http://example.mule.mulesoft.com/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://example.mule.mulesoft.com/"
			elementFormDefault="unqualified" targetNamespace="http://example.mule.mulesoft.com/"
			version="1.0">
			<xs:element name="contact" type="tns:contact" />
			<xs:element name="contactResponse" type="tns:contactResponse" />
			<xs:complexType name="contact">
				<xs:sequence>
					<xs:element minOccurs="0" name="FName" type="xs:string" />
					<xs:element minOccurs="0" name="Lname" type="xs:string" />
					<xs:element minOccurs="0" name="SSN" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="contactResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="ID" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="contactResponse">
		<wsdl:part element="tns:contactResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="contact">
		<wsdl:part element="tns:contact" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="contact">
		<wsdl:operation name="contact">
			<wsdl:input message="tns:contact" name="contact"></wsdl:input>
			<wsdl:output message="tns:contactResponse" name="contactResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="contactServiceSoapBinding" type="tns:contact">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="contact">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="contact">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="contactResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="contactService">
		<wsdl:port binding="tns:contactServiceSoapBinding" name="contactPort">
			<soap:address location="http://localhost:8883/contacts" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>